html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;

}
#div{
    width: 100%;
}
svg{
    display: block;
}

text,tspan{
    text-anchor: middle;
    pointer-events: none;
    user-select: none;
}
